body{
	margin: 0;
	background-color: #EFEFEF;
	text-align: center;

}

div{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.mainContent{
	display: inline-block;
	width: 33%;
	height: 100%;	
	text-align: center;
	padding-bottom: 30px;
}

.card{
	margin-top: 10px;
	background-color: white;
	display: inline-block;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
    width: 100%;
    height: 0;
    padding-top: 75%; /* 1:1 Aspect Ratio */
    position: relative; 
}

.card .cardContent{
	display: flex;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    justify-content: center;
}

.card .cardContent div{
		
}

.hidden{
	display: none;
}

.elem{
	align-self: center;
	margin: 20px;
	width: 150px;
	height: 150px;
}

.circle{
	border-radius: 50%;	
}

.shadow{
	position: static;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coloring{
		
}

.conic-gradient {	
  	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

.rotate + .shadow {	
	
}

.rotate{
	position: relative;
	top: -150px;
	padding: 1px;
}

.elem div{
	position: relative;
}
















.rotate{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}
.rotate:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
