body{

	margin: 0;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 20px;
	background-color: #EFEFEF;
	text-align: center;

}

body > div{

}

div{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}



@font-face {
    font-family: NM;
    src: url(NotoMono-Regular.ttf);
}

p{
	margin: 0;
	padding: 0;
	font-family: NM;
	font-weight: bold;
}

h1{
	margin: 0;
	padding: 0;
	font-family: NM;
	font-weight: bold;	
}

.ThreeColumns .Third{
	display: inline-block;
	height: 100%;
	width: 33%;
	vertical-align: top;
}

.Third.First{
	
	
	
}

.Third.Second{
	margin-right: 6px;
	margin-left: 6px;

}

.Third.Last{
	height: 150px;
	
	
	background-color: transparent;
}

.sticky {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;  
}

.headerWrapper{
	overflow: visible;
  	height: 0px;
  	width: 100%;
}


.headerWrapper .headerAlign{
	overflow: visible;
	height: 0;
    padding-top: 75%;
	position: relative;
	top: 0;
	width: 100%;
	background-color: #cae8ca;	

}

.headerContent{
	overflow: visible;
	display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;

    justify-content: center;	
}

.header{
	margin-top: calc(75%/2 - 75px);
	width: 100%;
	height: 150px;
	background-color: white;
	top: -75px;
	border-radius: 75px;
	text-align: center;
	box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;


}

.header > div{
	
	display: flex;
	justify-content: center;
	background-color: white;
	margin-left: 7px;
	width: calc(100% - 14px);
	height: calc(100% - 5px):
	margin-bottom: 2px;
}

.header .Text{
	display: flex;
	align-self: center;
	height: 50%;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.header .Text h1{
	color: gray;
	line-height: 75px;
}

.mainContent{
	display: inline-block;
	position: relative;
	top: 0;
	width: 100%;	
	text-align: center;
	
	
}

.card{
	margin-bottom: 10px;
	background-color: white;
	display: inline-block;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
    width: 100%;
    height: 0;
    padding-top: 75%;
    position: relative; 
}

.card .cardContent{
	display: flex;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    justify-content: center;
}

.card .cardContent div{
		
}

.hidden{
	display: none;
}

.elemWrapper{
	width: 150px;
	height: 150px;
	align-self: center;
	margin: 20px;
}

.elem{
	height: 100%;
	width: 100%;	
}

.circle{
	border-radius: 50%;	
}

.shadow{
	position: static;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coloring{
		
}

.conic-gradient.rainbow {	
  	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

.conic-gradient.loading.green{
	background: conic-gradient(green 5%,0,black 95%,0,green 0%);
}

.rotate + .shadow {	
	
}

.rotate{
	position: relative;
	top: -150px;
	padding: 1px;
	display: flex;
	justify-content: center;
}

.rotate div{
	display: block;
	background-color: white;
	width: 85%;
	height: 85%;
	align-self: center;	
	/*box-shadow:	inset -4px 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: rotate(0deg); !important*/
}

.elem div{
	position: relative;
}

.bottomMargin{
	display: block;
	height: 30px;
}





@media screen and (max-width: 1441px) {
    body {
        margin-top: 0;
    }
	
	.ThreeColumns .Third{
	display: block;
	width: 100%;
	}


}








.rotate{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}
.rotate:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
