
/*general*/

html{
	height: 100%;
}


body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: white;
	font-size: 13px;
	font-family:Helvetica,Arial;
}

img {
    max-width: 100%;
    height: auto;
    
}

h1,h2{
	font-weight: 200; 
	color:#82559a;

}

/*header*/

.header{
	
	background:#6e3e82;
	height: 200px;
	width:	100%;	
	text-align: center;
	overflow: hidden;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.header img{
	position: relative;
	top: 5;
}

.header .heading{
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.header .heading h1{
	color: white;
	text-shadow: 0px 1px 0px gray;
	font-size: 64px;

}

/*mainContent*/

.main{
	width:860px;
	margin-top:30px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	padding: 10px;
	background: white;

}

.main p{

}

/*footer*/


.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #FFF;
	background: #6e3e82;
	font-size: 14px;
	text-align: center;
}

.footer p{
	margin:10px;
}



