
/*font*/

@font-face {
    font-family: NM;
    src: url(NotoMono-Regular.ttf);
}
h1, h2{
	margin-block-start: 0;
	margin-block-end: 0;
}

/*general*/

html{
	height: 100%;
}


body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #bdb0de33;
	font-size: 13px;
	font-family: NM;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2{
	font-weight: 200; 
	color:#82559a;

}


/*layout*/

.normalLayout{
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	width: 100%;
}

/*header*/

.header{
	
	background:#6e3e82;
	height: 200px;
	width:	100%;	
	text-align: center;
	overflow: hidden;
	display: flex;
	align-items: center;
  	justify-content: center;
  	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.header img{
	position: relative;
	top: 5;
}

.header .heading{
	position: absolute;
	top: 0;
	left: 0;	
	height: 200px;
	width: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.header .heading div{
	width: 100%;
}

.header .heading h1, .header .heading h2{
	color: white;
	text-shadow: 0px 1px 0px gray;		
}

.header .heading h1{
	font-size: 64px;
}

.header .heading h2{
	font-size: 32px;
}




/*mainContent*/

.mainContent{
	dispay: block;
	width: 56%;
	*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	padding: 0px;
	padding-top: 0;
	background: transparent;
	margin: auto;
}

.mainContent > div{
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	
	
}

/*navigation*/

.navigation{
	text-align: center;
	width: 100%;
	position: relative;
	top: -25;
	*box-shadow: 1px -1px 0px rgba(0,0,0,0.4), -1px 0px 0px rgba(0,0,0,0.4);
	border: 1px solid #6e3e82;
}

.navigation ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navigation li, .navigation a{
	display: inline-block;
	text-decoration: none;
}

.navigation li{
	width: 25%;
	border: 0px solid #6e3e82;
	*border-bottom: 1px solid #6e3e82;
	border-top: 0;
	margin: 0px 0px;	
    /*box-shadow: -1px 1px 2px #c8c8c8;*/
    border-radius: 0px 0px 0px 0px;
    background-color: white;
   
    
}

.navigation li:hover{
	background: #6e3e82;
	cursor: pointer;
	
	-webkit-transition: background-color 1s ease;
  	-moz-transition: background-color 1s ease;
  	-o-transition: background-color 1s ease;
  	transition: background-color 1s ease;
}

.navigation a{
	padding: 15px;	
	font-size: 16px;
}

.navigation li:hover a{
	color: white;
	-webkit-transition: color 0.1s ease;
  	-moz-transition: color 0.1s ease;
  	-o-transition: color 0.1s ease;
  	transition: color 0.1s ease;
}

.main{
	margin: 0;
	padding: 0;
	/* display: flex; */
}

.sideImgWrapper{
	*border: 1px solid gray;
	width: 100%;
	display: block;
	min-height: 240px;
	margin-top: 10px;
}

.sideImg{
	/* display: flex; */
	align-items: right;
	position: absolute;
	text-align: right;
	width: 100%;
	height: calc(100% + 1px);
	overflow: hidden;
	
	border-radius:   0px 0px 0px 0px;
	border: 1px solid #6e3e82;
	

}

.sideImg img{

	position: absolute;
	display: block;
	height: calc(100% + 2px);
	/* height: 100%; */
	right: -1;
	
	margin-top: 0px;
	bottom: -1;
}





.sideText{
	position: relative;
	display: block;
	width: calc(200%/3);
	height: 240px;
	background-color: white;
	border-radius: 0px 0px 0px 0px;
	*
	box-shadow: -1px 0px 0px rgba(0,0,0,0.4), 0px 0px 0px rgba(0,0,0,0.4);
	*
	padding: 10px;
	
	padding-top: 10px;
	border: 1px solid #6e3e82;
	border-right: 1px solid lightgray;
}

.first p, .first b{
	
}

.mainText{
	text-align: left;
	margin-left: 10px;
	/* margin-top: 10px; */
}

.second{	
	width: calc(100% / 3);
	width: 100px;
	text-align: center;
	overflow: hidden;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.second img{
	position: relative;
	left: 0;
	height: -webkit-fill-available;

	
}


.etusivu{

}


/*footer*/


.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #FFF;
	background: #6e3e82;
	font-size: 14px;
	text-align: center;
}

.footer p{
	margin:10px;
}

@media screen and (min-width: 1440px) {
    .mainContent{
    	width: 960px;
    }
    
}

@media screen and (max-width: 1440px) {
    .mainContent{
    	width: 100%;
    	max-width: 960px;    		
    }
    
}